SECRET_KEY, DODO_API_KEY=
DODO_ENVIRONMENT=
DODO_WEBHOOK_SECRET=whsec_f6uM5M3Qp0h11tmQykXAKuCxlbRTFdrm
DODO_PRODUCT_ID_MONTHLY=pdt_0NixvmMnNF6ocQBAHH4t5
DODO_PRODUCT_ID_YEARLY=pdt_0Niznuz8H4ZBmVMPTpz3X
BASE_URL, DATABASE_URL=
