SECRET_KEY=duqShJeQXXTJQsFQ7G2FQ5yexq6tsEcDspTBeHLRxtM=
DODO_API_KEY=Yca45JRI7zd-xYOc.W5c-i18hdUtrOwCA5ekA0T41M3kb3i41Ajf-C6PmLTu4qpfs
DODO_ENVIRONMENT=live_mode
DODO_WEBHOOK_SECRET=whsec_f6uM5M3Qp0h11tmQykXAKuCxlbRTFdrm
DODO_PRODUCT_ID_MONTHLY=pdt_0NixvmMnNF6ocQBAHH4t5
DODO_PRODUCT_ID_YEARLY=pdt_0Niznuz8H4ZBmVMPTpz3X
BASE_URL=https://incubill.com/
DATABASE_URL=postgresql://user:password@your-db-host:5432/incubill

